.pronoun-selector,.city-selector, #bio, .tag-profile-selector, #comm-email, #comm-insta, #comm-num{
    width:30%;
    text-align: center;
    background-color: #D8EAFF;
    border-color:#D8EAFF;
    color:#13294B ;
    border-radius: 25px;
    padding: 10px 25px;
}
#bio{
    width:50%;
    text-align: center;
    background-color: #D8EAFF;
    border-color:#D8EAFF;
    color:#13294B ;
    border-radius: 25px;
    padding: 10px 25px;
    padding-bottom: 10%;
}
.sub-label{
    font-size: 30px;
    color: #12337D;
}
#submit-padding{
    padding-left: 30%;
}
.submit-url-btn{
    background-color:#13294B ;
    color:#D8EAFF ;
}
.pop-up{
    width:500px;
}