.user-cards{
    width: 100%;
    padding: 10%;
    background-color: #D9D9D9;
    border-color: #12337D;
    border-radius: 10px;
}
#user-image{
    width:100%;
}
.card-holder{
    padding-top: 5%;
    padding-bottom: auto;
}
.card-title{
    color: #12337D;
}
.card-content{
    color: #12337D;
}
.plus-button{
    border-radius: 200px;
    background-color: #12337D;
    color:#D8EAFF;
}
.search-button{
    background-color: #12337D;
    color:#D8EAFF;
    border-radius: 10px;
    width: 100%;
}
.reset-button{
    background-color: #12337D;
    color:#D8EAFF;
    border-radius: 10px;
    width: 100%;
}
#searchPadding{
    padding-top: 40px;
}
.explore{
    color:#12337D;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 50px;
}
.addSearch{
    color:#12337D;
}
.city-search, .grad-year-search, .tag-search {
    font-size: 25px;
    color:#12337D;
}
.city-search-selector, .tag-search-selector{
    width:100%;
    text-align: center;
    background-color: #D8EAFF;
    border-color:#D8EAFF;
    color:#13294B ;
    border-radius: 25px;
    padding: 10px 10px;
}
.max-selector,.min-selector{
    width:40%;
    text-align: center;
    background-color: #D8EAFF;
    border-color:#D8EAFF;
    color:#13294B ;
    border-radius: 25px;
    padding: 10px 10px;
}

.grad-year-box{
    padding-left: 30px;
}

.text{
    font-size: 20px;
}
.tag-explore{
    padding-left: 5px;
    padding-right:5px;
}