.Home {
    text-align: center;
  }
#welcomeStatement{
    font-size: 400%;
    color: #13294B;
  }
  .signupbtn{
    background-color:#12337D;
    color:white;
    font-size: 350%;
    border-color: #12337D;
    width: 20%;
  }
  .loginbtn{
    background-color: white;
    border-color: white;
    color:#12337D;
    font-size: 250%;
    width: 10%;
    font-weight: bold;
  }
  .welcome{
    padding-top: 15%;
    padding-bottom: 15%;
  }
  #biglogo {
    width: 100%;
  
  }
  .already{
    padding-top: 70px;
    font-size: 200%;
    color: #12337D;
  }
  .signup-button{
    padding-top: 20px;
  }