.Home {
    text-align: center;
  }
#welcomeStatement{
    font-size: 180%;
    padding-top: 20px;
    color: #12337D;
  }
  .signupbtn{
    background-color:#12337D;
    color:white;
    font-size: 32px;
    border-color: #12337D;
    border-radius: 20px;
    width: 22%;
    margin: 10px;
  }
  .loginbtn{
    background-color: white;
    border-color: white;
    border-radius: 20px;
    color:#12337D;
    font-size: 25px;
    width: 10%;
    font-weight: bold;
  }
  .welcome{
    padding-top: 12%;
    padding-bottom: 10%;
  }
  #biglogo {
    width: 40%;
  }
  .already{
    padding-top: 20px;
    font-size: 25px;
    color: #12337D;
  }
  .signup-button{
    padding-top: 30px;
  }